body {
  position: relative;

}
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300;
  border: 2px solid #ccc;
  height: 100vh;
  padding-top: 50px;
  padding-right: 5px;
}

#main-doc {
  margin-left: 500px;
  padding-top: 50px;
}

@media only screen and (max-width: 400px) {
  #main-doc {
    background-color: blue;
  }
}
